$bg-defaut: #fcd7b6;
$bg-defaut02: #fcd7b620;
$bg-indtan: #a3bbc8;
$bg-opasit: #a3bbc820;
$title: #243f4d;
$footer: #7b7b7b;


%sans-400 {
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
}

%sans-500 {
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
}

%sans-700 {
	font-family: 'DM Sans', sans-serif;
	font-weight: 700;
}

%rubik-400 {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}

%rubik-500 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
}