.terms {

	@include r(950) {
		max-width: 800px;
	}
}

.terms__title {
	margin-bottom: 33px;
	@extend %rubik-500;
	font-size: 24px;
	line-height: 1.67;
	color: #243f4d;

	@include r(900) {
		font-size: 20px;
		margin-bottom: 20px;
		text-align: center;
	}

	@include r(768) {
		font-size: 18px;
		margin-bottom: 15px;

	}
}

.terms__item {
	margin-bottom: 33px;
}

.terms__text {
	@extend %rubik-400;
	margin-bottom: 33px;
	font-size: 16px;
	line-height: 1.88;
	color: #243f4d;

	@include r(768) {
		font-size: 12px;
		margin-bottom: 15px;
	}
}

.terms__text--item {
	margin-bottom: 77px;

	@include r(768) {
		margin-bottom: 30px;
	}
}