.dignity {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transform: translateY(-30px);
	margin-bottom: 30px;

	&__item {
		padding: 44px 150px 46px 10px;
		background-color: #fcd7b630;
		position: relative;
		min-height: 171px;
		width: 100%;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		margin-left: auto;
		max-width: 215px;
	}

	&__item:not(:last-child) {
		border-right: 1px solid #243f4d10;
	}

	&__title {
		@extend %sans-700;
		color: #414141;
		font-size: 18px;
		line-height: 1.38;
		position: relative;
	}

	&__text {
		color: #585858;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.875;
	}

	&__title::after {
		content: "";
		position: absolute;
		left: -78px;
		top: 0px;
	}

	&__item--sup::after {
		background-image: url(../images/icon/24-7.svg);
		width: 50px;
		height: 50px;
	}

	&__item--dev::after {
		background-image: url(../images/icon/delivery.svg);
		width: 55px;
		height: 37px;
	}

	&__item--pay::after {
		background-image: url(../images/icon/payment.svg);
		width: 54px;
		height: 53px;
	}
}