.design {

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-right: -30px;
		margin-bottom: 84px;

		@include r(1200) {
			justify-content: center;
			margin-bottom: 30px;
		}

		@include r(630) {
			margin-right: 0px;
		}
	}

	&__item {
		@extend %sans-700;
		background-color: #f8f8f8;
		padding: 35px 0 36px 34px;
		display: flex;
		min-width: 370px;
		min-height: 246px;
		position: relative;
		margin-right: 30px;
		margin-bottom: 34px;

		@include r(768) {
			max-width: 370px;
			max-height: 246px;
			flex: 40%;
			margin-bottom: 15px;
			min-width: 300px;
			min-height: 200px;
			margin-right: 25px;
		}


		@include r(630) {
			min-width: 300px;
			min-height: 200px;
		}
	}

	&__content span {
		display: block;
		max-width: 175px;
	}

	&__title {
		color: #1a1a1a;
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 10px;
		max-width: 200px;
	}

	&__link span {
		transition: color 0.4s;
	}


	&__link span:hover {
		color: rgba(0, 0, 0, 0.70);
	}

	&__link span:active,
	&__link span:focus {
		color: rgba(0, 0, 0, 0.50);
	}

	&__type {
		color: #a3bbc8;
		font-size: 16px;
	}


	&__img {
		position: absolute;
		right: 0;
		bottom: 36px;

		@include r(768) {
			max-width: 50%;
		}
	}

	&__img--mardgin-sm {
		right: 56px;
		bottom: 47px;

		@include r(768) {
			right: 10px;
			bottom: 10px;
			max-width: 34%;
		}
	}

	&__img--mardgin-md {
		bottom: 29px;
	}

	&__img--mardgin-la {
		right: 30px;
		bottom: 29px;

		@include r(768) {
			right: 10px;
			bottom: 10px;
			max-width: 34%;
		}
	}

	//                                 ------------------------------VIDEO----------------------------

	&__video {
		position: relative;
		background-image: url(../images/video-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		width: 100%;
		min-height: 501px;
		display: block;
		margin-bottom: 110px;

		@include r(1200) {
			min-height: 300px;
		}

		@include r(500) {
			display: none;
		}
	}

	&__video::after {
		content: " ";
		background-image: url(../images/play.png);
		background-repeat: no-repeat;
		background-position: center center;
		width: 98px;
		height: 98px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__video::before {
		content: " ";
		background-image: url(../images/oreol.png);
		position: absolute;
		width: 127px;
		height: 127px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: opacity 0.8s;
	}

	&__video:hover::before {
		opacity: 1;
	}

}