.desing {

	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-right: -30px;
		margin-bottom: 84px;
	}

	&__item {
		@extend %sans-700;
		background-color: #f8f8f8;
		padding: 35px 0 36px 34px;
		display: flex;
		min-width: 370px;
		min-height: 246px;
		position: relative;
		margin-right: 30px;
		margin-bottom: 34px;
	}

	&__content span {
		display: block;
	}

	&__title {
		color: #1a1a1a;
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 10px;
	}

	&__link span {
		transition: color 0.4s;
	}


	&__link span:hover {
		color: rgba(0, 0, 0, 0.70);
	}

	&__link span:active,
	&__link span:focus {
		color: rgba(0, 0, 0, 0.50);
	}

	&__type {
		color: #a3bbc8;
		font-size: 16px;
	}


	&__img {
		position: absolute;
		right: 0;
		bottom: 36px;
	}

	&__img--mardgin1 {
		right: 56px;
		bottom: 47px;
	}

	&__img--mardgin2 {
		bottom: 29px;
	}

	&__img--mardgin3 {
		right: 30px;
		bottom: 29px;
	}

	//                                 ------------------------------VIDEO----------------------------

	&__video {
		position: relative;
		background-image: url(../images/video-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		width: 100%;
		height: 501px;
		display: block;
		margin-bottom: 110px;
	}

	&__video::after {
		content: " ";
		background-image: url(../images/play.png);
		background-repeat: no-repeat;
		background-position: center center;
		width: 98px;
		height: 98px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__video::before {
		content: " ";
		background-image: url(../images/oreol.png);
		position: absolute;
		width: 127px;
		height: 127px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: opacity 0.8s;
	}

	&__video:hover::before {
		opacity: 1;
	}

}