.lamps {

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-height: 390px;
		background-color: #fcd7b640;
	}

	&__item:not(:last-child) {
		margin-right: 30px;
	}

	&__img {
		margin-right: 18px;
		transform: translateY(-90px);
	}

	&__content {
		text-align: left;
		margin-right: 15px;
		padding: 60px 0 90px;
		max-width: 330px;
	}

	.lamps-content2 {
		margin-left: 45px;
		margin-right: -40px;
	}

	&__title {
		font-size: 26px;
		line-height: 1.23;
	}

	&__text {
		color: $title;
		margin-top: 18px;
		@extend %rubik-400;
		margin-bottom: 50px;
		line-height: 1.7;
	}

	&__btn {
		@extend %btn;
	}
}