.partners {
	background-color: rgba(252, 215, 182, 0.2);
	padding: 94px 10px 85px;
	margin-bottom: 56px;

	@include r(768) {
		padding: 30px 10px 30px;
		margin-bottom: 30px;
	}

	@include r(500) {
		padding: 15px 10px 15px;
	}

	.slick-track {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.partners__item {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__img {
		padding: 0 50px;
		margin-left: auto;
		margin-right: auto;
	}

}