.products {
	text-align: center;
	margin-bottom: 90px;

	@include r(768) {
		margin-bottom: 40px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-right: -30px;
		margin-bottom: 130px;

		@include r(768) {
			margin-bottom: 60px;
			justify-content: center;
		}

		@include r(590) {
			margin-right: 0px;
			margin-bottom: 20px;
		}
	}

	&__article {
		padding: 0 10px 25px;
	}

	&__item {
		max-width: 270px;
		min-height: 380px;
		padding: 15px 10px 10px;
		margin-right: 30px;
		margin-bottom: 40px;
		flex: 22%;
		font-size: 16px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
		position: relative;

		@include r(768) {
			margin-bottom: 20px;
			flex: 50%;
		}

		@include r(500) {
			flex: 100%;
			margin-right: 0px;

		}
	}

	&__img {
		margin: 0 auto;
		margin-bottom: 75px;
	}

	&__name {
		@extend %sans-500;
		line-height: 1.6;
		margin-bottom: 0px;
		font-size: 16px;
		letter-spacing: 0px;
	}

	&__link {
		position: relative;
		z-index: 2;
		text-decoration: none;
		color: #243f4d;
		transition: color 0.4s;
	}


	&__link:hover {
		color: rgba(0, 0, 0, 0.70);
	}

	&__link:active,
	&__link:focus {
		color: rgba(0, 0, 0, 0.50);
	}

	&__cost {
		@extend %sans-700;
		color: #a3bbc8;
		line-height: 2;
		margin-bottom: 20px;
	}

	&__icons {
		position: absolute;
		width: 100%;
		top: 48.5%;
		left: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: opacity 0.4s;

	}

	&__item:hover {
		.products__icons {
			opacity: 1;
		}
	}

	&__icon {
		background-repeat: no-repeat;
		padding: 19px;
		background-color: #fff;
		border-radius: 50%;
		display: block;
		background-position: center center;
		transition: background-color 0.4s, transform 0.4s;
		border: none;
	}

	&__icon:hover {
		transform: scale(1.4);
	}

	&__icon:active,
	&__icon:focus {
		background-color: #ccc;
	}

	&__icon:not(:last-child) {
		margin-right: 22px;
	}

	.icon-wh {
		width: 22px;
		height: 20px;
		transition: background-color 0.3s, background-image 0.3s;
	}

	.icon-wh:hover {
		background-color: $bg-indtan;
	}

	&__icon--searh {
		background-image: url(../images/product/icon/searh.svg);
	}

	&__icon--searh:hover {
		background-image: url(../images/Product/icon/searh-white.svg);
	}

	&__icon--cart {
		background-image: url(../images/product/icon/cart.svg);
	}

	&__icon--cart:hover {
		background-image: url(../images/Product/icon/cart-white.svg);
	}

	&__icon--like {
		background-image: url(../images/product/icon/like.svg);
	}

	&__icon--like:hover {
		background-image: url(../images/Product/icon/like-white.svg);
	}
}