.login {
	max-width: 470px;
	margin: 0 auto 120px;
	@extend %rubik-400;

}

.login__form {}

.login__label {
	margin-bottom: 28px;
	display: block;
	color: #436372;
	font-size: 14px;
	@extend %rubik-400;
}

.login__input {
	width: 100%;
	display: block;
	border: solid 2px #f6f6f6;
	background-color: #fff;
	margin-top: 5px;
	height: 60px;
	padding: 0 15px;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.4s, color 0.4s;
}

.login__input:hover {
	background-color: rgb(219, 217, 217);
}

.login__input:active,
.login__input:focus {
	background-color: #a3bbc8;
	color: #fff;
}

.login__btn {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 20px 0;
	color: #fff;
	background-color: #a3bbc8;
	margin-bottom: 30px;
	@extend %rubik-500;
	cursor: pointer;
	border: solid 2px #a3bbc8;
	transition: background-color 0.4s, color 0.4s;
}

.login__btn:hover {
	background-color: #fff;
	color: #a3bbc8;
}

.login__btn:active,
.login__btn:focus {
	background-color: #567181;
	color: rgb(226, 216, 216);
}

.login__remember {
	display: flex;
	padding-bottom: 30px;
	border-bottom: 2px solid #f6f6f6;
	margin-bottom: 33px;
}

.login__label-checkbox {
	cursor: pointer;
}

.login__lost {
	margin-left: auto;
	color: #436372;
	transition: color 0.3s;
	font-size: 14px;
	@extend %rubik-400;
	transition: color 0.4s;
}

.login__lost:hover {
	color: #192830;
}

.login__lost:active,
.login__lost:focus {
	color: #0a3146;
}

.login__lost:hover .login__no-problem {
	margin-bottom: 24px;
	display: block;
	text-align: center;
}

.login__no-problem {
	text-align: center;
	display: block;
	margin-bottom: 24px;
}

.login__create-btn {
	padding: 20px 0;
	border: solid 2px #a3bbc8;
	display: block;
	width: 100%;
	text-align: center;
	color: #243f4d;
	@extend %rubik-500;
	transition: background-color 0.4s, color 0.4s;
}

.login__create-btn:hover {
	background-color: #a3bbc8;
	color: #fff;
}

.login__create-btn:active,
.login__create-btn:focus {
	background-color: #567281;
	color: rgb(216, 212, 212);
}